In [10]:
# India Datasets
## Crime 

import pandas as pd

DistrictWiseCrimesCommitted_IPC2001_2012 = pd.read_csv(
        "E:\\Project Data\\Kaggle\\India\\crime-in-india\\crime\\01_District_wise_crimes_committed_IPC_2001_2012.csv",
        header=0)

DistrictWiseCrimesCommitted_IPC2013 = pd.read_csv(
        "E:\\Project Data\\Kaggle\\India\\crime-in-india\\crime\\01_District_wise_crimes_committed_IPC_2013.csv",
        header=0)

District_wise_crimes_committed_IPC_2014 = pd.read_csv(
        "E:\\Project Data\\Kaggle\\India\\crime-in-india\\crime\\01_District_wise_crimes_committed_IPC_2014.csv",
        header=0)

In [1]:
#DistrictWiseCrimesCommitted_IPC2001_2012

we know which cols include strings, find those and turn each element in them to elem.upper()

In [11]:
for col in DistrictWiseCrimesCommitted_IPC2001_2012.columns:
    for index in range(len(DistrictWiseCrimesCommitted_IPC2001_2012)):
        try:
            DistrictWiseCrimesCommitted_IPC2001_2012[col][index] = DistrictWiseCrimesCommitted_IPC2001_2012[col][index].upper()
        except:
            pass

C:\Users\sherv\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [2]:
#DistrictWiseCrimesCommitted_IPC2013

In [13]:
for col in DistrictWiseCrimesCommitted_IPC2013.columns:
    for index in range(len(DistrictWiseCrimesCommitted_IPC2013)):
        try:
            DistrictWiseCrimesCommitted_IPC2013[col][index] = DistrictWiseCrimesCommitted_IPC2013[col][index].upper()
        except:
            pass

C:\Users\sherv\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [14]:
#DistrictWiseCrimesCommitted_IPC2013

In [15]:
DistrictWiseCrimesCommitted_IPC2013.columns == DistrictWiseCrimesCommitted_IPC2001_2012.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [16]:
#District_wise_crimes_committed_IPC_2014

column titles are lower case so we turn them

In [17]:
District_wise_crimes_committed_IPC_2014.columns = [x.upper() for x in list(District_wise_crimes_committed_IPC_2014.columns)]

In [18]:
for col in District_wise_crimes_committed_IPC_2014.columns:
    for index in range(len(District_wise_crimes_committed_IPC_2014)):
        try:
            District_wise_crimes_committed_IPC_2014[col][index] = District_wise_crimes_committed_IPC_2014[col][index].upper()
        except:
            pass

C:\Users\sherv\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [19]:
#District_wise_crimes_committed_IPC_2014

number of columns are different so may need to outer join. Just to see what columns will get added and how many of them there will be we do this:

In [21]:
def difference(data):
    i=0
    for item in list(data.columns):
        if item not in (list(data.columns) or list(data)):
            print(item)
            i+= 1
        
difference(District_wise_crimes_committed_IPC_2014)

you can either go through them one buy one and sum the granulated columns
or you can write code that aggregates the columns with similar headers.

In [22]:
for col in District_wise_crimes_committed_IPC_2014.columns:
    if "RAPE" in col.strip():
        print(col)

RAPE
CUSTODIAL RAPE
CUSTODIAL_GANG RAPE
CUSTODIAL_OTHER RAPE
RAPE OTHER THAN CUSTODIAL
RAPE_GANG RAPE
RAPE_OTHERS
ATTEMPT TO COMMIT RAPE

In [23]:
for col in DistrictWiseCrimesCommitted_IPC2013.columns:
    if "RAPE" in (col.strip()):
        print(col)

RAPE
CUSTODIAL RAPE
OTHER RAPE

so here I would sum to custodial rapes together and other rape respectively. Here the description of the data is really important so we dont aggregate wrong data

In [24]:
import numpy as np
District_wise_crimes_committed_IPC_2014["OTHER RAPE"]= np.zeros(len(District_wise_crimes_committed_IPC_2014))
for index in range(len(District_wise_crimes_committed_IPC_2014)):
    District_wise_crimes_committed_IPC_2014["CUSTODIAL RAPE"][index] += District_wise_crimes_committed_IPC_2014["CUSTODIAL_GANG RAPE"][index]+ District_wise_crimes_committed_IPC_2014["CUSTODIAL_OTHER RAPE"][index]
    District_wise_crimes_committed_IPC_2014["OTHER RAPE"][index] = District_wise_crimes_committed_IPC_2014["RAPE OTHER THAN CUSTODIAL"][index]+District_wise_crimes_committed_IPC_2014["RAPE_GANG RAPE"][index]+District_wise_crimes_committed_IPC_2014["RAPE_OTHERS"][index]

C:\Users\sherv\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\sherv\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [25]:
District_wise_crimes_committed_IPC_2014.drop(["CUSTODIAL_GANG RAPE","CUSTODIAL_OTHER RAPE","RAPE OTHER THAN CUSTODIAL","RAPE_GANG RAPE","ATTEMPT TO COMMIT RAPE","RAPE_OTHERS"],axis=1)

,STATES/UTS,DISTRICT,YEAR,MURDER,ATTEMPT TO COMMIT MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,ATTEMPT TO COMMIT CULPABLE HOMICIDE,RAPE,CUSTODIAL RAPE,KIDNAPPING & ABDUCTION_TOTAL,...,PROMOTING ENMITY BETWEEN DIFFERENT GROUPS,"IMPUTATION, ASSERTIONS PREJUDICIAL TO NATIONAL INTEGRATION",EXTORTION,DISCLOSURE OF IDENTITY OF VICTIMS,INCIDENCE OF RASH DRIVING,HUMANTRAFFICKING,UNNATURAL OFFENCE,OTHER IPC CRIMES,TOTAL COGNIZABLE IPC CRIMES,OTHER RAPE
0,ANDHRA PRADESH,ANANTAPUR,2014,134,171,8,0,35,0,125,...,0,0,0,0,1038,0,0,3800,8376,70.0
1,ANDHRA PRADESH,CHITTOOR,2014,84,170,2,0,32,0,38,...,0,0,19,0,249,0,0,2567,5374,64.0
2,ANDHRA PRADESH,CUDDAPAH,2014,80,162,1,0,28,0,27,...,0,0,0,0,948,0,0,2604,5803,56.0
3,ANDHRA PRADESH,EAST GODAVARI,2014,64,84,2,0,85,0,66,...,0,0,32,0,39,0,0,3791,7630,170.0
4,ANDHRA PRADESH,GUNTAKAL RAILWAY,2014,14,4,0,0,0,0,0,...,0,0,0,0,1,0,0,37,490,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,LAKSHADWEEP,LAKSHADWEEP,2014,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,30,81,2.0
834,LAKSHADWEEP,TOTAL,2014,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,30,81,2.0
835,PUDUCHERRY,KARAIKAL,2014,6,1,0,0,3,0,1,...,2,0,0,1,199,0,0,322,671,6.0
836,PUDUCHERRY,PUDUCHERRY,2014,19,14,3,0,7,2,12,...,2,0,9,0,974,0,0,1014,2913,12.0
837,PUDUCHERRY,TOTAL,2014,25,15,3,0,10,2,13,...,4,0,9,1,1173,0,0,1336,3584,18.0

In [62]:
District_wise_crimes_committed_IPC_2014.rename(columns={"STATES/UTS":"STATE/UT"});

obviously this is a very labour intensive work so we should come up with a better idea

so now all identifiers are the same and can be joined and exported

In [65]:
DistrictWiseCrimesCommitted_IPC2001_2013= pd.concat([DistrictWiseCrimesCommitted_IPC2001_2012,DistrictWiseCrimesCommitted_IPC2013])

In [67]:
DistrictWiseCrimesCommitted_IPC2001_2013.to_csv("E:\\DB_Data\\Kaggle\\India\\crime-in-india\\crime\\Python Exports\\01_District_wise_crimes_committed_IPC_2001_2013.csv")